 
<div class="main-content" style="margin-left: -38px;margin-top: 29px;">
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">
                                 <div class="search">
                                  <h5 class="card-category">Check IN / OUT</h5>
                
                                    <form [formGroup]="presenceForm" (ngSubmit)="onSubmit()" class="row g-3 needs-validation" >
                                        <div class="col-md-6">
                                          <label for="validationCustom01" class="form-label">Start date</label>
                                          <input formControlName="start" readonly="true" [value]="toDate"   type="date" class="form-control" id="validationCustom01"   required>
                                           
                                        </div>
                                        <div class="col-md-6">
                                          <label for="validationCustom02" class="form-label">End date</label>
                                          <input formControlName="end" readonly="true" type="date" class="form-control" id="validationCustom02"  required>
                                          
                                        </div>
                                        
                                
                                        <div class="col-md-4">
                                          <label for="validationCustom03" class="form-label">Start Hour</label>
                                          <input formControlName="startHour"  readonly="true" type="time" (change)="changeStartHour($event)" class="form-control" id="validationCustom03" required>
                                         
                                        </div>
                                        <div class="col-md-4">
                                            <label for="validationCustom03" class="form-label">End Hour</label>
                                            <input formControlName="endHour" readonly="true" (change)="changeEndHour($event)"  type="time" class="form-control" id="validationCustom03" required>
                                           
                                          </div>
                                          <div class="col-md-4">
                                            <label for="validationCustom03" class="form-label">Total hours</label>
                                            <input  formControlName="totalHour" readonly="true" type="number" class="form-control" id="validationCustom03" required>
                                           
                                          </div>
                                          <div class="col-md-6">
                                            <label for="validationCustom03" class="form-label">Project</label>
                                            <input formControlName="project"  type="text" class="form-control" id="validationCustom03" required>
                                           
                                          </div>
                                          <div class="col-md-6">
                                            <label for="validationCustom03" class="form-label">Comment</label>
                                            <input formControlName="comment" height="145px"  type="text" class="form-control textarea"  id="validationCustom03" required>
                                           
                                          </div>

                                      
                                        
                                        <div class="col-12">
                                          <button class="btn btn-primary" type="submit">Send</button>
                                        </div>
                                      </form>
                  

                 </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">
                  
                        <h4 class="card-title"> Presence List</h4>
                      </div>
                      <div class="card-body">
                        <div class=" ">
                          <table class="table">
                            <thead class=" text-primary">
                              <th>
                                Date
                              </th>
                              <th>
                                Hour
                              </th>
                              <th>
                                Project
                              </th>
                              <th>
                                Comment
                              </th>
                              
                            
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of presenceRequests">
                                <td>
                                {{item.start | date:"yyyy-MM-dd" }}
                                </td>
                                <td>
                                  {{item.totalHour }}
                                </td>
                                <td>
                                  {{item.project}}
                                </td>
                                <td>
                                  {{item.comment}}
                                </td>
                              
                              </tr>
                               
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>


              
            
        </div>
    </div>
</div>


 