<div class="panel-header">
    <div class="header text-center">
        <h2 class="title">Training catalog</h2>
        <p class="category">Consult list of training catalog</p>
    </div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-training-tab" data-bs-toggle="tab" data-bs-target="#nav-training"
                type="button" role="tab" aria-controls="nav-training" aria-selected="true">Training list</button>
            <button class="nav-link" id="nav-my-training-tab" data-bs-toggle="tab" data-bs-target="#nav-my-training"
                type="button" role="tab" aria-controls="nav-my-training" aria-selected="false">My training</button>
        </div>
    </nav>
</div>
<div class="main-content">
    <div class="row">

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-training" role="tabpanel" 
            aria-labelledby="nav-training-tab"
                tabindex="0">
                <app-training></app-training>

            </div>

            <div class="tab-pane fade show " id="nav-my-training" role="tabpanel"
                aria-labelledby="nav-my-training-tab" tabindex="0">

                <app-may-training></app-may-training>
            </div>

        </div>
    </div>
</div>