nav{
    
    margin-left: 399px;
    margin-top: 40px;
    width: 258px;
    padding-bottom: 20px;
}
.nav-tabs{
    font-size: 15px;
    font-weight: bold;
}
.nav-tabs .nav-link.active{
    
    color: #ffffff;
    background-color: #ff070c;
    border-color: #ff070c;
    border-radius: 8px;
}
th,td{
    font-size: 11px !important;
  }

  .nav-link{
    color: #ffff !important;
}
.breadmup{
    color: white;
    display: flex;
    margin-left: 25px;
    font-size: 14px;
}
.pages{
    margin-left: 12px;
}
label{
    color: #242424 !important;
    font-weight: bold !important;
    font-size: 13px !important;
  }
  input:hover,textarea:hover,select:hover{
    border-color:#c3c6cb !important;
    box-shadow: 0px 1px 4px red !important;
  }

  .card-category{
    font-weight: 700;
    font-size: 22px;
    margin-top: -33px;
    TEXT-ALIGN: center;
    margin-top: 3px;
  }  
  @media (max-width:575.98px){
     
    nav{
  width: 414px !important;      
    margin-left: -32px !important;

    }
    .nav{
      display: flex !important;
    }
    .nav-tabs{
      font-size: 12px !important;
      
    }
  }