.account-block {
    padding: 0;
    background-image: url(../../../assets/img/v-rh.jpeg);
    background-repeat: round;
    background-size: cover;
    height: 100%; 
    position: relative;
}
.account-block .overlay {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.account-block .account-testimonial {
    text-align: center;
    color: #fff;
    position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;
}
.text-theme {
    color: #5369f8 !important;
}
.btn-theme {
    background-color: #5369f8;
    border-color: #5369f8;
    color: #fff;
}
.logo{
    
    padding-top: 15%;
    background-image: url(../../../assets/img/ver2.jpg);
    background-color: gray;
    background-repeat: round;
    height: 747px !important;
    
  }
  button{
  height: 36px;
  width: 99%;
  background: #ff070c!important;
  color: #fff;
  border: none;
  border-radius: 5px;
  border-radius: 20px;
  }
  .title:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: #ff070c!important;
  }

  
input:focus-visible,select:focus-visible,textarea:focus-visible{
    outline: 1px solid #ff070c !important;
      background: #f3f4f6 !important;
      font-size: 15px !important;
      border-radius: 30px !important;
    
  }

  input,textarea,select{
  
    border: 2px solid #b8b9bf !important;
  }

  label{
    color: #242424 !important;
    font-weight: bold !important;
    font-size: 13px !important;
  }
  input:hover,textarea:hover,select:hover{
    border-color:#c3c6cb !important;
    box-shadow: 0px 1px 4px red;
}
