<div class="logo">
    <div id="main-wrapper" class="container" style="    margin-top: -48px;">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="card border-0">
                    <div class="card-body p-0">
                        <div class="row no-gutters">
                            <div class="col-lg-6">
                                <div class="p-5">
                                   
                                        <div class="title">Reset your Password</div>
                           
                                    <h6 class="h5 mb-0" style="margin-top: 45px;">Just  enter your new Password.</h6>
                                    <p class="text-muted mt-2 mb-5">To sign in, type a new password.</p>
                                    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                                        
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">New Password</label>
                                            <input type="password" formControlName="newPassword" class="form-control" id="exampleInputEmail1" />
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Confirm your password</label>
                                            <input type="password" formControlName="confirmPassword" class="form-control" id="exampleInputEmail1" />
                                        </div>
                                     
                                        <button type="submit" class="btn btn-theme" [disabled]="resetForm.invalid">Send</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 d-none d-lg-inline-block">
                                <div class="account-block rounded-right">
                                    <div class="overlay rounded-right"></div>
                                     
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
                 <!-- end row -->
            </div>
            <!-- end col -->
        </div>
        <!-- Row -->
    </div>
</div>