<div class="panel-header">
    <div class="header text-center">
        <div class="breadmup">
            <div class="dashboard">
                <i class='bx bx-home'></i>
                Dashboard
            </div>
            <div class="pages">
                / 
            </div>
            <div class="pages">
                <i class='bx bx-git-pull-request'></i>
                Calender   
            </div>
        </div>
    </div>
</div>
<div class="main-content" style="margin-top: 29px;">
    <div class="card">
        <div class="card-body">
            <div class="ms-auto" style="    justify-content: end;
            display: flex;
            margin-bottom: 33px;">
                <button class="fw-medium text-reset" (click)="open()" >New event</button>
              </div>
            <div class="search">
              
                <div class='demo-app-main'  >
                    <full-calendar [options]='calendarOptions'>
                        <ng-template #eventContent let-arg>
                            <b>{{ arg.timeText }}</b>
                            <i>{{ arg.event.title }}</i>
                        </ng-template>
                    </full-calendar>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade my-modal" tabindex="-1" role="dialog" #myModal style="    overflow-y: auto;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Event</h5>
          <button type="button" class="close" (click)="close()" aria-label="Close"><span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class=" ">
           
            <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
              <div class="dbl-field">
                <div class="message" style="width: 100%;">
                  <label>Title </label>
                  <input class="form-control" type="text" formControlName="title" >
  
                </div>
              </div>
  
              <div class="dbl-field">
                <div class="field">
                  <label>Start Date</label>
                  <input type="date" formControlName="start"  class="form-control">
  
                </div>
                <div class="field">
                  <label>End Date</label>
                  <input type="date" formControlName="end" class="form-control"  >
  
                </div>
              </div>
           
              <div class="button-area">
                <button type="submit" style="margin-top: 30px;">Save</button>
                <span></span>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="close()">Close
          </button>
        </div>
      </div>
    </div>
  </div>