.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #ff570f !important;
    background-color: #ffffff !important;
    font-size: 15px !important;
}

.nav-link:hover{
    color: white;
    font-size: 13px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.card label  {
    font-size: .8571em;
    margin-bottom: 5px;
    color: #252525!important;
}
label{
    margin-top: -21px !important;
    margin-left: 5px !important;
    color: #1b1919 !important;
    font-size: 12px !important;
 } 
  .form-control{
      
     
      padding-left:32px;
  }
  
  .form-control:focus{
      
      
      box-shadow:none;
  }
  
  .green{
      
      color:green;
  }
.search{
    padding-left: 30px;
    margin-right: 51px;
    height: 36px;
}

.fa-search{
    padding-top: 10px;
    margin-left: -18px;
}

.card label {
    font-size: .8571em;
    margin-bottom: 5px;
    color: #ffffff !important;
}

.bx-check-square{
    font-size: 23px;
    margin-left: 22px;
    color: green;
    cursor: pointer;
}
form{
    display: contents;
}
.text-secondary-d1 {
    color: #728299!important;
}
.page-header {
    margin: 0 0 1rem;
    padding-bottom: 1rem;
    padding-top: .5rem;
    border-bottom: 1px dotted #e2e2e2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}
.page-title {
    padding: 0;
    margin: 0;
    font-size: 1.75rem;
    font-weight: 300;
}
.brc-default-l1 {
    border-color: #dce9f0!important;
}

.ml-n1, .mx-n1 {
    margin-left: -.25rem!important;
}
.mr-n1, .mx-n1 {
    margin-right: -.25rem!important;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.text-grey-m2 {
    color: #888a8d!important;
}

.text-success-m2 {
    color: #86bd68!important;
}

.font-bolder, .text-600 {
    font-weight: 600!important;
}

.text-110 {
    font-size: 110%!important;
}
.text-blue {
    color: #478fcc!important;
}
.pb-25, .py-25 {
    padding-bottom: .75rem!important;
}

.pt-25, .py-25 {
    padding-top: .75rem!important;
}
.bgc-default-tp1 {
    background-color: rgba(121,169,197,.92)!important;
}
.bgc-default-l4, .bgc-h-default-l4:hover {
    background-color: #f3f8fa!important;
}
.page-header .page-tools {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.btn-light {
    color: #757984;
    background-color: #f5f6f9;
    border-color: #dddfe4;
}
.w-2 {
    width: 1rem;
}

.text-120 {
    font-size: 120%!important;
}
.text-primary-m1 {
    color: #4087d4!important;
}

.text-danger-m1 {
    color: #dd4949!important;
}
.text-blue-m2 {
    color: #68a3d5!important;
}
.text-150 {
    font-size: 150%!important;
}
.text-60 {
    font-size: 60%!important;
}
.text-grey-m1 {
    color: #7b7d81!important;
}
.align-bottom {
    vertical-align: bottom!important;
}

.reports{
     background: #000;
      border-radius: 0.25em; 
      color: #FFF; margin: 0 0 1em;
       padding: 0.5em 0; 
    }

 

.holiday-reports{
    background: white;
    display: none;
}

.breadmup{
    color: white;
    display: flex;
    margin-left: 25px;
    font-size: 14px;
}
.pages{
    margin-left: 12px;
}
a:hover{
    text-decoration: underline;
    color: red;
    font-weight: 600;
  }
  label{
    color: #242424 !important;
    font-weight: bold !important;
    font-size: 13px !important;
  }
  input:hover,textarea:hover,select:hover{
    border-color:#c3c6cb !important;
    box-shadow: 0px 1px 4px red;
}
th{
    background: #d3d0d0;
}

th{
    color: #495057 !important;
    background-color: #e9ecef !important;
    border-color: #dee2e6 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
  }

  .card-title{
    text-align: center !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    color: #9a9a9a !important;
  }
  i{
    cursor: pointer;
  }
  
label{
    margin-top: -20px;
}
button {
 
    font-weight: bold;
    font-size: 13px;
    cursor: pointer!important;
    border: 0px;
    
    
    transition: all .2s!important;
    overflow: hidden!important;
    color: #fff!important;
    border-radius: 30px!important;
    box-shadow: 0 -0px 0 0 red !important;
  }
  button::after {
    content: ''!important;
    width: 400px!important;
    height: 400px!important;
    position: absolute!important;
    top: -50px!important;
    left: -100px!important;
    background-image: linear-gradient(225deg,   #27d86c 0%, #26caf8 50%, #c625d0 100%)!important;
    z-index: -1!important;
    transition: all .5s!important;
  }
  
  button:hover::after {
    transform: rotate(150deg)!important;
  }
  
  button:hover {
    transform: translateY(-6px)!important;
    background: #ff070c !important;
    box-shadow: 0 3px 8px #0000002b !important;
    font-size: 10px !important;
    } 
    .breadmup{
      color: white;
      display: flex;
      margin-left: 25px;
      font-size: 14px;
  }
  .pages{
      margin-left: 12px;
  }
  a:hover{
    text-decoration: underline;
    color: red;
    font-weight: 600;
  }
  label{
    color: #242424 !important;
    font-weight: bold !important;
    font-size: 13px !important;
  }
  input:hover,textarea:hover,select:hover{
    border-color:#c3c6cb !important;
    box-shadow: 0px 1px 4px red;
}

.card-category{
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

input,textarea,select{
  
  border: 2px solid #b8b9bf !important;
}

th{
  
  font-size: 15px !important;
  font-weight: 600 !important;
}

th{
  color: #495057 !important;
  background-color: #e9ecef !important;
  border-color: #dee2e6 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}

@media (max-width:575.98px){
  .reqsF{
    display: block !important;
  }
  .reqsF .position-relative{
    margin-top: 31px !important;
  }
}


.receipt-main {
    background: #ffffff none repeat scroll 0 0;
    /* border-bottom: 12px solid #333333; */
    /* border-top: 12px solid #9f181c; */
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px 30px!important;
    position: relative;
    /* box-shadow: 0 1px 21px #acacac; */
    color: #333;
    font-family: open sans;
  }
  .receipt-main p {
    color: #333333;
    font-family: open sans;
    line-height: 1.42857;
  }
  .receipt-footer h1 {
    font-size: 15px;
    font-weight: 400 !important;
    margin: 0 !important;
  }
  .receipt-main::after {
    background: #414143 none repeat scroll 0 0;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
    top: -13px;
  }
  .receipt-main thead {
    background: #414143 none repeat scroll 0 0;
  }
  .receipt-main thead th {
    color:#fff;
  }
  .receipt-right h5 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 7px 0;
  }
  .receipt-right p {
    font-size: 12px;
    margin: 0px;
  }
  .receipt-right p i {
    text-align: center;
    width: 18px;
  }
  .receipt-main td {
    padding: 9px 20px !important;
  }
  .receipt-main th {
    padding: 13px 20px !important;
  }
  .receipt-main td {
    font-size: 13px;
    font-weight: initial !important;
  }
  .receipt-main td p:last-child {
    margin: 0;
    padding: 0;
  }	
  .receipt-main td h2 {
    font-size: 20px;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
  }
  .receipt-header-mid .receipt-left h1 {
    font-weight: 100;
    margin: 34px 0 0;
    text-align: right;
    text-transform: uppercase;
  }
  .receipt-header-mid {
    margin: 24px 0;
    overflow: hidden;
  }
  
  #container {
    background-color: #dcdcdc;
  }
  