<div class="panel-header">
    <div class="header text-center">
        <h2 class="title">Contrat</h2>
        <p class="category">My Contrat

        </p>
    </div>
</div>
<div class="main-content" style="margin-top: 29px;">
    <div class="row">
        <div class="col-md-12">

            <div class="container">
                <header>Contract Details</header>
                <form action="#">
                    <div class="form first">
                        <div class="details personal">

                            <div class="fields">
                                <div class="input-field">
                                    <label>Contract Type</label>
                                    <input type="text" placeholder="Enter your name" required>
                                </div>
                                <div class="input-field">
                                    <label>Duration</label>
                                    <input type="text" placeholder="Enter birth date" required>
                                </div>
                                <div class="input-field" style="    margin-top: 28px;">

                                    <input type="text" placeholder="Enter your email" required>
                                </div>
                                <div class="input-field  " style="    width: 950px;">
                                    <label>Nature</label>
                                    <input type="text" placeholder="Enter mobile number" required>
                                </div>
                                <div class="input-field  "  style="    width: 950px;">
                                    <label>Working calander</label>
                                    <input type="text" placeholder="Enter mobile number" required>
                                </div>


                            </div>
                        </div>
                        <div class="details ID">

                            <div class="fields">
                                <div class="input-field">
                                    <label>Start date</label>
                                    <input type="date" placeholder="Enter ID type" required>
                                </div>
                                <div class="input-field">
                                    <label>End date</label>
                                    <input type="date" placeholder="Enter ID number" required>
                                </div>
                                <div class="input-field">
                                    <label>Expected end date</label>
                                    <input type="date" placeholder="Enter issued authority" required>
                                </div>

                               

                            </div>
                            <div class="month" style="display: flex;">
                                <div class="input-field" style="display: grid;width: 31%;">
                                    <label>Employe notice periode</label>
                                    <input type="number" placeholder="Enter your issued date" required>
                                </div>
                                <div class="input-field" style="margin-top: 28px;display: grid;width: 31%;margin-left: 43px;">

                                    <input type="text" placeholder="Enter expiry date" required>
                                </div>
                            </div>
                            <div class="month" style="    display: flex;">
                                <div class="input-field" style="display: grid;width: 31%;">
                                    <label>Employe notice periode</label>
                                    <input type="number" placeholder="Enter your issued date" required>
                                </div>
                                <div class="input-field" style="margin-top: 28px;display: grid;width: 31%;margin-left: 43px;">

                                    <input type="text" placeholder="Enter expiry date" required>
                                </div>
                            </div>
                            <header style="margin-top: 10px;">Administrive assignement</header>
                            <div class="month" style="    display: flex;margin-top: 20px;">


                                <div class="input-field" style="display: grid;width: 31%;">
                                    <label>Level</label>
                                    <input type="text" placeholder="Enter issued state" required>
                                </div>
                                <div class="input-field" style="display: grid;width: 31%;margin-left: 43px;">
                                    <label>Line manager</label>
                                    <input type="text" placeholder="Enter issued state" required>
                                </div>
                            </div>
                            <button class="nextBtn">
                                <span class="btnText">Save</span>
                                <i class="uil uil-navigator"></i>
                            </button>
                        </div>
                    </div>
                     
                </form>
            </div>

        </div>
    </div>
</div>