nav{
    
    margin-left: 260px;
    margin-top: -19px;
    width: 550px;
    padding-bottom: 20px;
}
.nav-tabs{
    font-size: 15px;
    font-weight: bold;
}
.nav-tabs .nav-link.active{
    
    color: #ffffff;
    background-color: #ff070c;
    border-color: #ff070c;
    border-radius: 8px;
}

.nav-link{
    color: #ffff !important;
}